html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    background: #000 url(../img/app_bg.jpg) no-repeat;
    background-size: cover;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
#footer{
    text-align: center;
    color: white;
}
